<!DOCTYPE html>
<html>
    <head>
        <title>College-Events</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">        
        <style type="text/css">
	    .navbar-dark .navbar-toggler 
    	    {
                border-color: white;
            }
        </style>
    </head>
    <body>
        
        
<nav class="navbar navb navbar-expand-lg navbar-dark bg-dark fixed-top" >
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="/"><div class="navbar-brand mb-0 h1">College-Events</div></a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/">Contact</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-right navbar-right">
			<% if(!currentUser){ %>
			<li class="nav-item active">
				<a class="nav-link" href="/register"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
				</svg>Signup</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/login"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
				</svg>Signin</a>
			</li>
			<% } else{ %>
			<li class="nav-item">
				<a class="nav-link active" href="#">Logged In As <strong><%= currentUser.username %></strong></a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link active" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
			</li>
			
			<% } %>
		</ul>
	</div>	
</nav>
<br/>
<br/>
<div class="container">
	<% if(error && error.length >0){ %>
	<div class="alert alert-danger" role="alert">
    	<%= error %>
    </div>
   <% } %>
    <% if(success && success.length >0){ %>
    <div class="alert alert-success" role="alert">
    	<%= success %>
    </div>
    <% } %>
</div>
<br/>
<br/>





